<html>

<head>
    <title>Hi Nguyen Khoi Nguyen</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/laycss/css.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <h1>Chào Mừng Đến Với Ứng Dụng Ghi Lô Đề</h1>
    <div>
        <form action="/" method="post">
            <input type="text" placeholder="Nhập Tên Khách Hàng" name="tenkhachhang">
            <input type="number" placeholder="Nhập Con Đề" name="soghi">
            <input type="submit" value="Gửi">
        </form>
    </div>
    <div>
        <table id="bangde" class="table">
            <tr>
                <th>ID</th>
                <th>Tên Khách Hàng</th>
                <th>Số Ghi</th>
            </tr>
        </table>
    </div>

<script src="http://code.jquery.com/jquery-1.9.1.js"></script>

<script>
    $(document).ready(function(){
        var timenow = new Date();
        console.log(timenow);
        var date = timenow.getDate();
        console.log(date);
        console.log(timenow.getHours());
        if(timenow.getHours()<=18){
            var sode = prompt("Nhập Đề Về Hôm Nay");
            $.ajax({
            url: 'khachtrungde',
            data: {
                sode: sode
            },
            beforeSend: function () {
            },
            error: function () {
                alert("Lỗi rồi");
            },
            dataType: 'json',
            success: function (data) {
                console.log(data);
                for (let index = 0; index < data.length; index++) {
                    $("#bangde").append(`<tr>
                <td>${data[index].id}</td>
                <td>${data[index].tenkhachhang}</td>
                <td>${data[index].soghi}</td>
            </tr>`);
                }
            },
            type: 'POST'
        });
        }
    })
    
</script>    
</body>
</html>